# Foundry
cache/
out/
broadcast/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store

# Node.js
node_modules/

# IPFS files
.ipfs/

# Log files
*.log

# Coverage reports
coverage/
lcov.info
coverage.json